img{
    width: 50px;
    height: 40px;
}

/* Apply some basic styles to the table */
.my-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

/* Style table caption */
.my-table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style table header (th) */
.my-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Style table data (td) */
.my-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Add some hover effect to table rows */
.my-table tbody tr:hover {
    background-color: #e0e0e0;
}

